.overlay-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(15, 15, 51);

  transition-property: opacity;
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;

  & p {
    font-size: 125px;
    color: white;
    margin: 50px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 25px;
  & span {
    color: orangered;
  }
}
.js-itemList {
  display: flex;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-gamesListItem {
  font-family: "Alkalami", sans-serif;
  font-size: 42px;
  font-weight: 300;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-new-title {
  font-size: 22px;
  margin-bottom: 70px;
  margin-left: 8px;
  font-weight: 300;
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 35px;
  }
}

.js-choosenItem {
  font-family: "Alkalami", sans-serif;
  font-size: 35px;
  margin-bottom: 75px;

  transition-property: color, opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 120px;
  }
}

/*! display none */
.button {
  display: none;

  width: 370px;
  height: 100px;

  font-size: 34px;
  border-radius: 50px;

  background-color: transparent;
  outline: 2px solid orangered;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    outline: 2px solid rgb(189, 28, 28);
  }
  & a {
    color: transparent;
    transition-property: color, padding;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover a {
    padding: 30px;
    color: orangered;
  }
}

.button-link-to-index {
  width: 110px;
  height: 40px;
  margin: 30px;

  cursor: pointer;

  /* padding: 5px; */
  background-color: transparent;
  border: 1px solid tomato;
  transition-property: border, border-radius, width, height, font-size,
    background-color, opacity;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    width: 150px;
    height: 70px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: white;
  }
  & a {
    color: white;
    transition-property: font-size, opacity, color;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
  }
  &:hover a {
    color: black;
    font-size: 22px;
  }
}
/* - - - - - */
.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Source Sans Pro", sans-serif;

  user-select: auto;
  color: yellowgreen;
  background-color: black;

  text-align: center;
  user-select: none;
}
#main {
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.name-of-list {
  margin-top: 25px;
  font-size: 25px;
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-listItem {
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.order-title {
  margin: 50px 0;
  font-size: 22px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-form label {
  font-size: 20px;
}

.order-input {
  width: 80%;
  height: 40px;

  padding-left: 20px;
  margin: 15px 10px;

  border-radius: 10px;

  background-color: black;
  color: white;

  transition: border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 1000px;
  }
}
.order-input-border {
  outline: none;
}

// !
.invalid {
  outline: 1px solid tomato;
}
.valid {
  outline: 1px solid greenyellow;
}
.process {
  outline: 1px solid green;
}
// !

.order-button-submit {
  font-family: "Alkalami", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: yellowgreen;

  width: 110px;
  height: 35px;
  margin: 25px 0;
  border: none;
  border-radius: 10px;
  outline: 1px solid tomato;
  background-color: transparent;

  cursor: pointer;

  transition-property: font-size, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    font-size: 20px;
    outline: 2px solid tomato;
  }
}

// - - - - -
.burger {
  position: relative;
  width: 100%;
  margin-left: 90px;
  margin-bottom: 25px;

  transition: margin-left;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);

  @media screen and (min-width: 768px) {
    margin-left: 200px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.burger-animation {
  @media (min-width: 768px) {
    margin-left: 67%;
  }
}
.faq-text {
  position: absolute;
  left: -5px;
  font-size: 12px;
  transition: opacity, margin-left;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
.faq-text-vanish {
  margin-left: 30%;

  @media screen and (min-width: 400px) and (max-width: 479px) {
    margin-left: 25%;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 20%;
  }
  @media screen and (min-width: 580px) and (max-width: 767px) {
    margin-left: 16%;
  }
  @media screen and (min-width: 768px) and (max-width: 999px) {
    margin-left: 11%;
  }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    margin-left: 9%;
  }
}
.burger-stick-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 25px;

  width: 0;
  background-color: white;
}
.burger-stick {
  position: relative;
  transition: width, height, background-color, border, border-radius;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(2.2, 2.2, 2.2, 2);

  border-radius: 10px;
  background-color: transparent;
}
// border: 1px solid tomato;
.burger-stick-border {
  border: 1px solid white;
}

.burger-common-geometry {
  width: 30px;
  height: 1px;

  border: 1px solid white;

  @media screen and (min-width: 768px) {
    height: 3px;
  }
}
.burger-main-anim-geometry {
  width: 250px;
}
.burger-main-anim-down-geometry {
  height: 95px;
}
.burger-side-anim-geometry {
  width: 0px;
  height: 0;
}
.burger-list {
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 10px;

  font-size: 12px;
  text-align: start;

  opacity: 0;

  color: greenyellow;

  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(2.2, 2.2, 2.2, 2);
}
.burger-list-active {
  opacity: 1;
}
.burger-rules {
  transition: text-decoration, color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(2.2, 2.2, 2.2, 2);
}
.burger-rules-invalid {
  text-decoration: underline;
  color: tomato;
}
