.overlay-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(15, 15, 51);

  transition-property: opacity;
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;

  & p {
    font-size: 125px;
    color: white;
    margin: 50px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 25px;
  & span {
    color: orangered;
  }
}
.js-itemList {
  display: flex;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-gamesListItem {
  font-family: "Alkalami", sans-serif;
  font-size: 42px;
  font-weight: 300;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-new-title {
  font-size: 22px;
  margin-bottom: 70px;
  margin-left: 8px;
  font-weight: 300;
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 35px;
  }
}

.js-choosenItem {
  font-family: "Alkalami", sans-serif;
  font-size: 45px;
  margin-bottom: 75px;

  transition-property: color, opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 120px;
  }
}

/*! display none */
.button {
  display: none;

  width: 370px;
  height: 100px;

  font-size: 34px;
  border-radius: 50px;

  background-color: transparent;
  outline: 2px solid orangered;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    outline: 2px solid rgb(189, 28, 28);
  }
  & a {
    color: transparent;
    transition-property: color, padding;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover a {
    padding: 30px;
    color: orangered;
  }
}

.button-link-to-index {
  width: 110px;
  height: 40px;
  margin: 30px;

  cursor: pointer;

  /* padding: 5px; */
  background-color: transparent;
  border: 1px solid tomato;
  transition-property: border, border-radius, width, height, font-size,
    background-color, opacity;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    width: 150px;
    height: 70px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: white;
  }
  & a {
    color: white;
    transition-property: font-size, opacity, color;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
  }
  &:hover a {
    color: black;
    font-size: 22px;
  }
}
/* - - - - - */
.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: auto;
  color: yellowgreen;
  background-color: black;

  text-align: center;
  user-select: none;
}
#main {
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-listItem {
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.order-title {
  margin: 50px 0;
  font-size: 22px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-form label {
  font-size: 20px;
}

.order-input {
  // width: 285px;
  width: 80%;
  height: 40px;

  padding-left: 20px;
  // margin-left: 10px;
  margin: 15px 10px;
  // margin-top: 10px;

  outline: none;
  border: none;
  border-radius: 10px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 1000px;
  }

  &:hover {
    border: 2px solid blueviolet;
  }
}
.order-button-submit {
  font-family: "Alkalami", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: yellowgreen;

  width: 110px;
  height: 35px;
  margin: 25px 0;
  border: none;
  border-radius: 10px;
  outline: 1px solid tomato;
  background-color: transparent;

  cursor: pointer;

  transition-property: font-size, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    font-size: 20px;
    outline: 2px solid tomato;
  }
}
