* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Alkalami", sans-serif;
  color: blue;
  background-color: black;

  user-select: none;
}
.overlay-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(15, 15, 51);

  transition-property: opacity;
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
}
.overlay-preloader p {
  font-size: 125px;
  color: white;
  margin: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 25px;
}
.title span {
  color: orangered;
}
.js-itemList {
  display: flex;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-gamesListItem,
.js-new-title {
  font-family: "Alkalami", sans-serif;
  font-size: 42px;
  font-weight: 300;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-new-title {
  margin-bottom: 70px;
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.js-choosenItem {
  font-family: "Alkalami", sans-serif;
  font-size: 120px;

  margin-bottom: 75px;

  transition-property: color, opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! display none */
.button {
  display: none;

  width: 370px;
  height: 100px;

  font-size: 34px;
  border-radius: 50px;

  background-color: transparent;
  outline: 2px solid orangered;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  outline: 2px solid rgb(189, 28, 28);
}

.button a {
  color: transparent;
  transition-property: color, padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover a {
  padding: 30px;
  color: orangered;
}
.button-link-to-index {
  width: 110px;
  height: 40px;
  margin: 30px;
  /* padding: 5px; */
  background-color: transparent;
  border: 1px solid tomato;
  transition-property: border, border-radius, width, height, font-size;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-link-to-index:hover {
  width: 150px;
  height: 70px;
  border-radius: 15px;
}
.button-link-to-index a {
  color: white;
  transition-property: font-size, opacity;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: none;
}
.button-link-to-index:hover a {
  font-size: 22px;
}

/* - - - - - */
.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: auto;
  color: yellowgreen;
  background-color: black;

  text-align: center;
  user-select: none;
}
#main {
  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#item-list {
  display: flex;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 28px;

  transition-property: opacity;
  transition-duration: 1050ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.order-title {
  margin: 50px 0;
  font-size: 25px;
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-input {
  width: 550px;
  height: 40px;

  padding-left: 15px;
  margin-left: 10px;

  outline: none;
  border: none;
  border-radius: 10px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:hover {
  border: 2px solid blueviolet;
}
.order-button-submit {
  font-family: "Alkalami", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: yellowgreen;

  width: 110px;
  height: 35px;
  margin: 25px 0;
  border: none;
  border-radius: 10px;
  outline: 1px solid tomato;
  background-color: transparent;

  cursor: pointer;

  transition-property: font-size, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button-submit:hover {
  font-size: 20px;
  outline: 2px solid tomato;
}
